
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Orbitron&family=Poppins:wght@100;200;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
#details{
    border-radius: 10px;
    position: relative;
    display: none;
    background-color: rgb(255, 254, 254);
    box-shadow: 0 0 2px 4px whitesmoke;
    padding: 10px;
    margin: 20px;
}
td{
    font-size: larger;
}
#close{
    position: absolute;
    top: 0;
    right: 0;
}
.imageDiv{
    overflow: hidden;
}
.imageProduct:hover{
   
    transform: scale(1.1);
    transition: all 1s ease;
}
#waiting {
    display: none;
}